<!--//src/view/partials/footer.hbs-->
<footer>
    <div class="container">
        <h1> Feel free to connect on social media.</h1>
        <ul class="social-links">
            <li><a href="mailto:arellanosantoso6@gmail.com"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.linkedin.com/in/santos-arellano/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Santos-Arellano"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/arellano_santos/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/AlejandroAR_O"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <p>Developed with  ❤️ by Santos Arellano</p>
    </div>
</footer>